//
//  Secrets.xcconfig
//  Vodam
//
//  Created by 송영민 on 11/22/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = ad82cf5da249a68fcd80f110f8ae9592

ALAN_API_KEY = "d6027b9d-710f-4c04-ab63-550aa2cb6b8c"
