//
//  Secrets.xcconfig
//  Vodam
//
//  Created by 송영민 on 11/20/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = 3af99972300c5c5edeca16f814367531
