//
//  Secrets.xcconfig
//  Vodam
//
//  Created by 송영민 on 11/22/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = f452c06e56178be1deb7dd1523e712e3

GOOGLE_CLIENT_ID = 856776588585-g86nknnrmigb447e849jejgaogdf79ng.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.856776588585-g86nknnrmigb447e849jejgaogdf79ng

ALAN_API_KEY = 47d9bf1b-07f7-4c69-8ec4-a0dd8756ee79
